{% extends "bases/base.html" %}

{% block titulo %} Balance General {%endblock %}
{% block js %}



{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Balance General</h4>
            <table class="table table-hover " id="transacciones">
                <thead class="thead-light">
                    <tr>

                        <th>N° de cuenta</th>
                        <th>Nombre de cuenta</th>

                        <th>Debe  </th>
                        <th>Haber</th>

                    </tr>
                </thead>

                <tbody>
                    {% for transaccion in transacciones %}
                        <tr>

                           <td>{{transaccion.id_subCuenta.id_subCuenta}}</td>
                            <td> {{transaccion.id_subCuenta.nombre_subCuenta}}</td>


                            <td>  {% if transaccion.id_tipoTransaccion.id_tipoTransaccion == 1 %}
                                    ${{transaccion.monto}}
                                   {% endif %}
                            </td>
                            <td> {% if transaccion.id_tipoTransaccion.id_tipoTransaccion == 2 %}
                                    ${{transaccion.monto}}
                                   {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>

                 <tfoot>

                 <tr>
                     <td colspan="2">Total</td>
                     <td id="tdTotal"></td>
                 </tr>

                 </tfoot>
            </table>
            <script>
                window.addEventListener("load",function(){
                console.log("codigo js listo");
                sumSueldos();

                })
                function sumSueldos(){
                let total=0;
                const table = document.getElementById("transacciones");
                for( let i = 1 ; i < table.rows.length-1 ; i++){
                   // console.log(table.row[i].cells[2].innerHTML);
                    let rowValue = table.rows[i].cells[2].innerHTML;
                    total=total + Number(rowValue);
                }
                //console.log(total);
                const tdtotal=document.getElementById("tdTotal");
                tdtotal.textContent=total;
                }

            </script>
            <p align="right">
                <a name="" class="btn btn-primary" href="{% url 'inicio' %}" role="button">Regresar</a>
                <input  name="" class="btn btn-success"  type="button" value="Imprimir" onclick="javascript:window.print()" />
            </p>

        </div>
    </div>
</div>

{%endblock %}