{% extends "bases/base.html" %}

{% block titulo %} Balance General {%endblock %}
{% block js %}



{% endblock %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Balance General</h4>
            <table class="table table-hover " id="transacciones">
                <thead class="thead-light">
                    <tr>

                        <th>N° de cuenta</th>
                        <th>Nombre de cuenta</th>

                        <th>Debe  </th>
                        <th>Haber</th>

                    </tr>
                </thead>

                <tbody>
                    {% for transaccion in transacciones %}
                        <tr>

                           <td>{{transaccion.id_subCuenta.id_subCuenta}}</td>
                            <td> {{transaccion.id_subCuenta.nombre_subCuenta}}</td>


                            <td>  {% if transaccion.id_tipoTransaccion.id_tipoTransaccion == 1 %}
                                    ${{transaccion.monto}}
                                   {% endif %}
                            </td>
                            <td> {% if transaccion.id_tipoTransaccion.id_tipoTransaccion == 2 %}
                                    ${{transaccion.monto}}
                                   {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>

                 <tr id="suma" class="">
                        <td> Diferencia:  ${{diferencia}}</td>
                        <td></td>

                        <td id="suma_debe" > ${{suma_debe}} </td>
                        <td id="suma_haber"> ${{suma_haber}} </td>

                    </tr>
            </table>

            <p align="right">
                <a name="" class="btn btn-primary" href="{% url 'inicio' %}" role="button">Regresar</a>
                <input  name="" class="btn btn-success"  type="button" value="Imprimir" onclick="javascript:window.print()" />
            </p>

        </div>
    </div>
</div>

{%endblock %}